@media (max-width: 768px){
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?ik5x4j');
    src: url('fonts/icomoon.eot?ik5x4j#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?ik5x4j') format('truetype'),
      url('fonts/icomoon.woff?ik5x4j') format('woff'),
      url('fonts/icomoon.svg?ik5x4j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    background: linear-gradient(45deg, #3f9cdf, rgba(65, 51, 37, 0.2) ) no-repeat fixed;
  }

  .container {
    margin: 60px auto;
    position: relative;
    width: 350px;
    height: 350px;
    /* background-color: #ffa; */
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
  }

  .container>img {
    width: 300px;
    height: 300px;
    opacity: 0.7;
  }

  .container>table {
    border: 10px solid white;
    width: 300px;
    height:300px;
    padding: 50px 20px;
    text-align: center;
    color: white;
    position: absolute;
    top:10%;
    left:12%;
  }

  .sentence {
    position: absolute;
    font-size: 10px;
  
  }

  .container>h3 {
    color: white;
    position: absolute;
    top: -10px;
    right: 40px;
    font-size: 17px;


  }

  .container>h1 {
    color: white;
    position: absolute;
    top: -10px;
    right: 105px;
    font-size: 17px;
  }

  .container>h1.month {
    color: #a8deeb;
    position: absolute;
    top: 35%;
    left: -22%;
    font-size: 140px;
    font-family: 'Antonio', sans-serif;
  }

  .arrowLeft {
    position: fixed;
    top: 220px;
    left: 1%;
    font-family: 'icomoon';
    text-decoration: none;
    font-size: 30px;
    color: white;
  }

  .arrowLeft:hover {
    transform: scale(1.2);
  }

  .arrowRight:hover {
    transform: scale(1.2);
  }

  .arrowRight {
    position: fixed;
    top: 220px;
    right: 1%;
    font-family: 'icomoon';
    text-decoration: none;
    font-size: 30px;
    color: white;
  }

  .now {
    color: #6DD5FA;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    font-family: 'icomoon';
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 768px){
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?ik5x4j');
    src: url('fonts/icomoon.eot?ik5x4j#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?ik5x4j') format('truetype'),
      url('fonts/icomoon.woff?ik5x4j') format('woff'),
      url('fonts/icomoon.svg?ik5x4j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    background: linear-gradient(45deg,#5433, #5fb3ee ) no-repeat fixed;
  }

  .container {
    margin: 60px auto;
    position: relative;
    width: 80%;
    height: 80%;
    /* background-color: #ffa; */
    font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  }

  .container>img {
    width: 89%;
    height: 89%;
    opacity: 0.7;
  }

  .container>table {
    border: 10px solid white;
    width: 89%;
    height: 89%;
    padding: 50px 20px;
    text-align: center;
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .sentence {
    font-family: 'Orelega One', cursive;
    font-size: 15px;
  }

  .container>h3 {
    color: white;
    position: absolute;
    top: -10px;
    right: 40px;
    font-size: 20px;

  }

  .container>h1 {
    color: white;
    position: absolute;
    top: -10px;
    right: 120px;
    font-size: 20px;
  }

  .container>h1.month {
    color: hsl(195, 77%, 27%);
    position: absolute;
    top: 45%;
    left: -20%;
    font-size: 170px;
    font-family: 'Antonio', sans-serif;
  }

  .arrowLeft {
    position: fixed;
    top: 50%;
    left: 1%;
    font-family: 'icomoon';
    text-decoration: none;
    font-size: 40px;
    color: white;
  }

  .arrowLeft:hover {
    transform: scale(1.2);
  }

  .arrowRight:hover {
    transform: scale(1.2);
  }

  .arrowRight {
    position: fixed;
    top: 50%;
    right: 1%;
    font-family: 'icomoon';
    text-decoration: none;
    font-size: 40px;
    color: white;
  }

  .now {
    color: #6DD5FA;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
    font-family: 'icomoon';
    text-decoration: none;
    color: white;
  }
}


